<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-center text-theme-primary">All Subscribers</h3>
                    <p class="mb-4">Manage your subscribers.</p>

                    <button class="btn btn-warning btn-theme btn-ml" routerLink="/">Back To Dashboard</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect">
                <div class="card-body">

                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let subscriber of subscribers; let i = index ">
                                <td [width]="10">{{i+1}}</td>
                                <td [width]="500">{{subscriber.name}}</td>
                                <td [width]="500">{{subscriber.email}}</td>
                                
                                <td>
                                    <button class="btn btn-sm btn-danger btn-ml"
                                    (click)="onDelete(subscriber.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>