<div class="container">
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/category">
                <div class="card-body text-center bg-secondary-theme">
                    <img  width="auto" height="50" src="/assets/img/categories.png" alt="image">
                    <h2 class="text-theme-primary">Categories</h2>
                    <p style="color: #596392;">Manage your categories here.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/posts">
                <div class="card-body text-center bg-secondary-theme">
                    <img  width="auto" height="50" src="/assets/img/posts.png" alt="image">
                    <h2 class="text-theme-primary">Posts</h2>
                    <p style="color: #596392;">Manage your posts details here.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/subscribers">
                <div class="card-body text-center bg-secondary-theme">
                    <img  width="auto" height="50" src="/assets/img/users.png" alt="image">
                    <h2 class="text-theme-primary">Subscribers</h2>
                    <p style="color: #596392;">Manage your subscribers here.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/comments">
                <div class="card-body text-center bg-secondary-theme">
                    <img  width="auto" height="50" src="/assets/img/comments.png" alt="image">
                    <h2 class="text-theme-primary">Comments</h2>
                    <p style="color: #596392;">Manage comments here.</p>
                </div>
            </div>
        </div>
    </div>
</div>